@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Open+Sans:wght@400;500;700&display=swap');

:root {
    --color-principal: #2C3E50;
    /* Azul-marinho */
    --color-secundaria: #ECF0F1;
    /* Cinza-claro */
    --color-principal-dark: #1A252F;
    /* Azul-marinho mais escuro */
    --color-accent: #E67E22;
    /* Laranja */
    --color-light: #FFFFFF;
    /* Branco */
    --color-secondary-text: #7F8C8D;
    /* Cinza-médio */
    --color-red: #C80036;
    /* Cor vermelha original caso necessário */

    /* RGBA */
    --color-principal-rgba: rgba(44, 62, 80, 0.5);
    /* Azul-marinho */
    --color-secundaria-rgba: rgba(236, 240, 241, 0.5);
    /* Cinza-claro */
    --color-principal-dark-rgba: rgba(26, 37, 47, 0.5);
    /* Azul-marinho mais escuro */
    --color-accent-rgba: rgba(230, 126, 34, 0.5);
    /* Laranja */
    --color-light-rgba: rgba(255, 255, 255, 0.5);
    /* Branco */
    --color-secondary-text-rgba: rgba(127, 140, 141, 0.5);
    /* Cinza-médio */
    --color-red-rgba: rgba(200, 0, 54, 0.5);
    /* Cor vermelha original caso necessário */

    /* Redes Sociais */
    --color-facebook: #1877F2;
    /*  Facebook */
    --color-twitter: #1DA1F2;
    /*  Twitter */
    --color-instagram: #E1306C;
    /*  Instagram */
}