@import url('./colors.css');

footer {
    background-color: var(--color-principal);
    color: var(--color-light);
    padding: 2rem;
    
    box-shadow: 0 .2rem 0rem rgba(0, 0, 0, .15);
}

.footer-logo i {
    font-size: 2rem;
    color: var(--color-accent);
    margin-right: 1rem;
}

.footer-titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.footer-right {
    margin-right: 2rem;
}

.footer-right i {
    font-size: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;
}

.fa-facebook-f {
    color: var(--color-facebook);
}
.fa-twitter {
    color: var(--color-twitter);
}
.fa-instagram {
    color: var(--color-instagram);
}

.footer-right i:hover {
    opacity: .6;
}

.dev {
    margin-left: 2.2rem;
    opacity: .5;
}

.dev:hover {
    opacity: 1;
}

.dev {
    font-family: 'Open Sans', sans-serif;
    color: var(--color-secondary-text);
}

.dev a {
    color: var(--color-light);
    text-decoration: none;
}

.dev a:hover {
    color: var(--color-accent);
}