@import url('./colors.css');

.footer {
    background-color: var(--color-principal);
    box-shadow: 0 -.4rem 0rem rgba(0, 0, 0, .15);
}

.footer-logo {
    font-size: 1.5rem;
    color: white;
}

.fa-ghost {
    --fa-animation-duration: 2.5s;
    --fa-fade-opacity: .6;
}

.footer-titulo {
    color: var(--color-black);
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Press Start 2P", system-ui;
}

.footer-header h2 {
    -webkit-text-stroke: .3px white;
    text-stroke: .3px white;
}

.footer-info h3 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1em;
    color: var(--color-light);
    font-weight: 400;
}

.dev span {
    color: white;
    font-weight: 500;
}

.dev span:hover {
    color: black;
}

.footer-info p {
    color: white;
}