@import url('./colors.css');

.crud-titulo {
    font-size: 1.4rem;
    text-align: center;
}

input:focus {
    border-color: var(--color-principal-dark);
    outline: none;
    box-shadow: 0 0 5px var(--color-principal-rgba);
}

.custom-file-label {
    background-color: var(--color-principal-dark);
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
}

.file-name {
    font-style: italic;
    color: var(--color-principal-rgba);
}