body,
header,
main-container,
footer {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--color-principal-dark);
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 7vh;
    margin-bottom: 3%;
    padding: 1rem 2rem;
}

/* Main */
.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    max-width: 95%;
    width: 95%;
    height: 75vh;
    margin: 1%;
    padding: 1.2rem;
}

/* Produtos */
.main-container-produtos {
    margin: 0 auto;
}

.produtos-titulo {
    margin-top: 2%;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    text-align: center;
}

.lista-produtos-wrapper {
    padding: 0 1em;
}

.lista-produtos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2%;
    margin: 2%;
    box-sizing: border-box;
    overflow-y: auto;
    padding-right: 1em;
    max-height: 60vh;
    width: 100%;
}

/* Crud */
.add-produtos {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    align-items: center;
}

.crud-titulo {
    margin-top: 2%;
    margin-bottom: 6%;
}

.form-group {
    width: 50%;
    margin-bottom: 1em;
}

.form-group input[type="text"],
.form-group input[type="file"] {
    width: 100%;
    padding: 1em;
    border: 1px solid var(--color-secondary-text);
    border-radius: 0.4em;
    box-sizing: border-box;
    cursor: pointer;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    gap: 5em;
    margin-top: 2%;
}

.form-buttons button {
    padding: 1em 1.5em;
    border: none;
    border-radius: 0.4em;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

/* Footer */
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.footer-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}