body {
    background-color: #f5f5f5;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100vw;
    height: 7vh;
    margin-bottom: 3%;
}

/* Main */
.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    justify-content: center;
    width: 95vw;
    height: 75vh;
    margin: 2.5%;
    padding: 20px;
}

/* Produtos */
.main-container-produtos {
    margin: 0 auto;
}

.produtos-titulo {
    margin-top: 2%;
    margin-bottom: 6%;
}

.lista-produtos-wrapper {
    padding: 0 1em;
}

.lista-produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
    margin: 2%;
    box-sizing: border-box;
    overflow: auto;
    padding-right: 1em;
}

/* Card */
.card-produto {
    display: flex;
    flex-direction: column;
    gap: .5em;
    height: 18em;
    padding: .5em;
}

.card-produto img {
    width: 95%;
    height: 75%;
    align-self: center;
}

.descricao-produto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nome-produto,
.card-footer {
    margin: 2%;
}

.card-footer {
    margin-top: 6%;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
}

/* Crud */
.add-produtos {
    display: flex;
    flex-direction: column;
    gap: .8em;
    align-items: center;
}

.crud-titulo {
    margin-top: 2%;
    margin-bottom: 6%;
}

.form-group {
    width: 40%;
    margin-bottom: 1em;
}

.form-group input[type="text"],
.form-group input[type="file"] {
    width: 100%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: .4em;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
    cursor: pointer;
}

.form-group label {
    font-family: "Press Start 2P", system-ui;
    margin-bottom: .3em;
}

/* Buttons */
.form-buttons {
    display: flex;
    flex-direction: row;
    gap: 5em;
    margin-top: 2%;
}

.form-buttons button {
    padding: 1em 1.5em;
    border: none;
    border-radius: .4em;
    cursor: pointer;
}