@import url('colors.css');
@import url('general.css');


.header {
    background-color: var(--color-principal);
    box-shadow: 0 .2rem 0rem rgba(0, 0, 0, .15);
    color: var(--color-light);
}

.header-logo {
    font-size: 2rem;
    color: var(--color-accent);
}

.fa-dungeon {
    --fa-animation-duration: 4.5s;
    --fa-fade-opacity: .6;
}

.header-titulo {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.header h2 {
    -webkit-text-stroke: .3px white;
    text-stroke: .3px white;
}