@import url('./colors.css');
@import url('./general.css');
@import url('./card.css');
@import url('./scrollbar.css');
@import url('./forms.css');

/* Produtos */
.main-container-produtos {
    -webkit-box-shadow: -15px 13px 9px -4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -15px 13px 9px -4px rgba(0, 0, 0, 0.25);
    box-shadow: -15px 13px 9px -4px rgba(0, 0, 0, 0.25);
}

.produtos-titulo {
    font-size: 1.5rem;
    font-family: "Press Start 2P", system-ui;
    text-align: center;
}

/* Crud */